@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');

.asd, .asd a {
   font-family: "Bitcount Prop Double", system-ui;
   text-align: center;
   font-size: 50px;
   vertical-align: middle;
   text-decoration: none;
   color: black;
   
}

.krishiv {
   display:block;
   margin: auto;
}

.foot {
   padding:10px;
   background-color:rgb(196, 196, 196);
   color:red;
   text-align:center;
   margin-top:20px;
}

.brainrot {
   color:grey;
   text-align:center;
   margin-left:50px;
   margin-right:50px;
}

.navigation {
   display: flex;
   justify-content: space-around;
   padding: 10px;
   background: lightblue;
} 

.asd:hover, .asd a:hover {
   color:red;
}
